.DS_Store
Thumbs.db

.vscode/
.idea/
*.code-workspace

desktop.ini
ehthumbs.db
Icon?
._*

*.log
*.tmp
*.bak
*.swp
*~

.cache/
.cache/**

*.local

dist/
build/
out/

.env
.env.*

test/
tests/
*.test.js
coverage/

node_modules/
package-lock.json
npm-debug.log*
yarn.lock
pnpm-lock.yaml

*.localhost

*.zip
*.tar.gz
*.rar

*.sublime-project
*.sublime-workspace